@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@470&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Edu SA Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 470;
  font-style: normal;
}
