.header{
    padding: 1rem;
    background-color: rgb(129, 128, 126);
    color: white;
}
.header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.header li{
    font-size: 1.3rem;
    cursor: pointer;
}